@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Megrim&display=swap');

.App {
  font-family: 'Barlow', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  font-family: 'Barlow', sans-serif;
}

/* introduction */
.introduction {
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 15rem;
}

.introduction__title {
  font-size: 3rem;
  margin-top: 0;
}

.introduction__msg {
  font-size: 1.1rem;
  padding: 0 5rem;
}

/* projects */
.projects {
  margin: auto;
  text-align: center;
  padding-top: 7rem;
}

.projects__msg {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 2rem 5rem 10rem;
}

.project {
  transition: transform 300ms ease-in;
}

.project:hover {
  transform: scale(1.05);
}

.project__title {
  margin-top: 3rem;
}

.project__link {
  color: blue;
}

.project__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* contact */
.contact {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  padding-top: 2rem;
}

.contact__email,
.contact__location {
  margin-left: 0.5rem;
}

.contact__social-media {
  font-size: 1.7rem;
  margin-top: 0.8rem;
}

.fab {
  padding: 0.3rem;
  transition: color 200ms ease-in;
}

.fab:hover {
  color: grey;
}

@media screen and (max-width: 64rem) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 48rem) {
  /* navbar */
  .navbar {
    padding: 2rem;
    flex-direction: column;
  }

  .navbar__menu {
    flex-direction: column;
    display: none;
  }

  .navbar__menu.open {
    display: block;
    height: 100vh;
    margin-top: 1rem;
    padding: 15rem 0;
    font-size: 1.5rem;
  }

  .navbar__item {
    text-align: center;
    margin: 0.7rem;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__toggle-btn:hover {
    cursor: pointer;
  }

  /* projects */
  .projects__msg {
    padding: 0 1rem;
  }

  .projects__list {
    grid-template-columns: 1fr;
  }

  /* contact */
  .contact {
    padding: 2rem;
    padding-bottom: 5rem;
  }
}
