@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Megrim&display=swap');

.App {
  font-family: 'Barlow', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
