/* projects */
.projects {
  margin: auto;
  text-align: center;
  padding-top: 7rem;
}

.projects__msg {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 2rem 5rem 10rem;
}

.project {
  transition: transform 300ms ease-in;
}

.project:hover {
  transform: scale(1.05);
}

.project__title {
  margin-top: 3rem;
}

.project__link {
  color: blue;
}

.project__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
